# Игнорируем исполняемые и бинарные файлы
*.exe
*.dat

# Игнорируем логи и временные файлы
*.log
*.tmp

# Папки, не относящиеся к проекту
GPU-Z/
Yandex.exe

# Игнорируем конфигурации редакторов
.vscode/
.idea/

# Игнорируем системные файлы Windows
Thumbs.db
Desktop.ini
